@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@theme {
  --color-primary: #f0f0f0;
  --color-secondary: #facc15;
  --color-tertiary: #36454F;
  --font-sans: 'Open Sans', sans-serif;
  --font-mono: 'Space Mono', monospace;
  --font-serif: 'Merriweather', serif;
  --backgorund-primary: #333;
}

body{
  font-family: var(--font-sans);
  background-color: var(--backgorund-primary);
  color: var(--color-primary);
}